@import url(https://fonts.googleapis.com/css?family=Inconsolata);

a,
a:visited {
	color: black;
	text-decoration: none;
}
a:hover {
	color: blue;
}
div {
	min-width: 500px;
	max-width: 1000px;
  margin: 0 auto;
}
h1 {
	font-family: 'Inconsolata', courier, monospace;
	font-size: 48px;
	text-align: center;
}
p.one {
	font-family: 'Inconsolata', courier, monospace;
	text-align: justify;
	font-size: 18px;
}
p.two {
	font-family: 'Inconsolata', courier, monospace;
	text-align: center;
	font-size: 18px;
}
img {
  width: 100%;
}
